In [1]:
from utils import *

# import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns

# from sklearn.metrics.pairwise import cosine_similarity
# from sklearn.decomposition import PCA

In [2]:
# df = pd.read_pickle('./test_data/wiki_hard.pkl')
# embeddings = np.load('./embeddings/contriever_chnk-100_ovlp-20_emb.npy')

In [7]:
get_random_query("1 2 3 4 5 6 7 8 9 10 11 12 13 14 15.", 3, 7, 4)

['10 11 12 13 14 15.', '4 5 6 7 8 9 10', '8 9 10 11', '1 2 3 4 5 6']

In [2]:
df = pd.read_pickle('./results.pkl')
df.tail()

           model  chunk_size  overlap  embedding_dim   accuracy query_size
2695  contriever         500      0.3            614  81.828571  (50, 100)
2696  contriever         500      0.3            652  81.828571  (50, 100)
2697  contriever         500      0.3            691  81.828571  (50, 100)
2698  contriever         500      0.3            729  82.000000  (50, 100)
2699  contriever         500      0.3            768  85.142857  (50, 100)