In [2]:
from utils import *

import pandas as pd

In [7]:
df = pd.read_pickle("./test_data/wiki_hard.pkl")
some_text = df.iloc[0]['text']
len(some_text.split())


a = df['text'].apply(lambda x: get_random_query(x, size=2, n_samples=2))

['he considered', 'restrictions upon']

In [ ]:
df = pd.read_pickle("./test_data/wiki_hard_test.pkl")

In [12]:
temp = df.drop(columns=['url', 'title'])
temp['text'] = temp['text'].apply(lambda x: get_random_query(x, size=2, n_samples=2))
temp.explode('text')

         id                 text
0      1623            limits of
0      1623        the election,
1     11968           for advice
1     11968  Washington reversed
2     15654            take part
..      ...                  ...
67   229668        roads leading
68   339819       American Civil
68   339819               that a
69  1478485       disbandment of
69  1478485          ended). Lee

[140 rows x 2 columns]

In [2]:
split_text("I did not hit her. I did not. Oh hi Mark.", chunk_size=4, overlap=2)

['I did not hit', 'not hit her. I', 'her. I did not.', 'did not. Oh hi']

In [3]:
get_random_query("Never gonna give you up. Never gonna let you down.", size=5, n_samples=4)

['Never gonna give you up.',
 'you up. Never gonna let',
 'give you up. Never gonna',
 'Never gonna let you down.']