# Test Data Example

Something something something... this notebook is for testing stuff using documents from Wikipedia.

## Prelims

In [ ]:
# !pip install apache_beam mwparserfromhell
# !pip install datasets

In [2]:
import json
import random
import pandas as pd
# from datasets import load_dataset

## Something Something Data

Data from Hugging Face.

In [ ]:
# wiki_data = load_dataset("wikipedia", "20220301.en")
# wiki_data = wiki_data['train']

In [ ]:
# get a bunch of random examples
# num_examples = 10000
# example_indices = random.sample(range(0, len(wiki_data)), num_examples)

# # convert to dataframe
# wiki_example = pd.DataFrame.from_dict(wiki_data[example_indices])

In [2]:
# save the data
# wiki_example.to_pickle("./wiki_test.pkl") 

# load the data
df = pd.read_pickle("./wiki_test.pkl")
df.head(5)

,id,url,title,text
0,32915086,https://en.wikipedia.org/wiki/Vows%20%28album%29,Vows (album),Vows is the debut studio album by New Zealand ...
1,8599106,https://en.wikipedia.org/wiki/Dianella%20%28pl...,Dianella (plant),Dianella is a genus of about forty species of ...
2,47566285,https://en.wikipedia.org/wiki/Selena%20Piek,Selena Piek,Selena Piek (born 30 September 1991) is a Dutc...
3,35671732,https://en.wikipedia.org/wiki/The%20Falmouth%2...,The Falmouth Hotel,The Falmouth Hotel is a hotel on the seafront ...
4,60295349,https://en.wikipedia.org/wiki/1995%E2%80%9396%...,1995–96 Rugby Union County Championship,The 1995–96 CIS Insurance Rugby Union County C...

In [9]:
def simple_tokenize(text):
    """
    Simple tokenizer by white space.
    """
    return text.split()

def tok_split(toks, num_toks):
    """
    Split a list of tokens so each list has tokens of same length (except possibly the last one).
    """
    split = [toks[i:i+num_toks] for i in range(0, len(toks), num_toks)]
    return split

In [13]:
txt1 = df.iloc[0]['text']
tok1 = simple_tokenize(txt1)
splits1 = tok_split(tok1, 100)
len(splits1)

10

Splits

In [24]:
df_tmp = df.copy()
df_tmp = df_tmp.drop(['url','title'], axis=1) # cols not needed for now

num_toks = 100
df_tmp['text'] = df_tmp['text'].map(lambda x: tok_split(simple_tokenize(x), num_toks)) # tokenize

# separate lists
df_tmp = df_tmp.explode('text', ignore_index=True)
# df_tmp = df_tmp.reset_index()

df_tmp = df_tmp.rename(columns={'text': 'text_chunk'})
len(df_tmp)

52996

10000

### Groups

In [3]:
# load data
file_path = 'test_data.json'

with open(file_path, 'r') as file:
    data = json.load(file)

In [4]:
# print groups
[g['name'] for g in data]

['Chinese Dynasties', 'Rivers', 'Sorting Algorithms', 'Noodles']

In [4]:
# num documents
len(data[0]['documents'])

10

In [10]:
for i in range(4):
    ids = []
    for j in range(10):
        ids.append(int(data[i]['documents'][j]['id']))
    print(ids)

[25310, 43449, 43455, 43456, 43460, 43461, 43464, 43465, 56978, 19606306]
[1701, 6613, 10221, 12448, 19579, 21244, 31259, 49031, 50819, 69147]
[13995, 15205, 20039, 25980, 29352, 97592, 99864, 3268249, 6508027, 25977485]
[29178, 37969, 156520, 395707, 526059, 625565, 2676972, 2971869, 3180120, 20370974]